body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#quote {
    font-size: 24px;
    margin-top: 20px;
}

#author {
    font-style: italic;
    margin-top: 10px;
}

#image {
    width: 100%; /* Set the image to 100% of the page width */
    max-width: 100%; /* Ensure the image doesn't exceed its original width */
    height: auto; /* Maintain the image's aspect ratio */
    margin: 20px auto;
}
