@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lobster&display=swap");
body {
  background-color: rgb(240, 217, 186);
}
img {
  width: 700px;
  height: 500px;
  margin: auto;
  display: block;
}
h3 {
  text-align: center;
}
.first-hr {
  width: 200px;
  border-color: black;
}
hr {
  width: 200px;
  border-color: black;
}
.first-par {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: center;
}
button {
  width: 75px;
  height: 25px;
  cursor: pointer;
}
