h1{font-size: 30px;
    width: fit-content;
    margin: auto;
    text-align: center;}

body{
    background-color:rgb(242, 228,223);}

    img{
    display:flex;
    margin: auto; height: "450";
    width: "750px";
}

p{
    font-size: 25px;
    width: 800px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

button{
    background-color: black; color: rgb(242, 228,223); margin: right 5px; float:right; font-size: x-large;
}