body{
  background-color: rgb(233, 212, 188);
}
img{
  width: 25vw;
height: 69vh;
margin: auto;
display: block;
}
h3 {
  text-align: center;
}
.first-hr{
  width: 200px;
  border-color: black;
}
hr{
  width: 200px;
  border-color: black;
}
.first-par{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  text-align: center;
}
button {
  width: 75px;
  height: 25px;
  cursor: pointer;
}
